.container{
    border: 2px solid black;
    height: 500px;
    width: 100%;
    display:flex;
    justify-content: center;
    justify-content: space-around;
    
}

.item{
    background-color: tomato;
    padding: 4px;
    margin: 10px;
    height: 30%;
    width: 10%;
    text-align: center;

}

/* flex property */

